__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
Zenatus_Backtester/Zenatus_Backtest_venv/
Zenatus_Dokumentation/Dokumentation/
Zenatus_Backtester/10_Tree/Paths/*.json
